  <section class="footer2">
    <div class="footer-container">
          <div class="footer-logo">
              <a href="./index.html" style="color: #ffff; text-decoration: none;">LOGO.</a>
            </div>
          <div class="footer-paragraph">
              <p>
                © 2025 Ali Sallam Ghandour. All rights reserved
              </p>
            </div>
          <div class="social-media">
            <a href="https://www.facebook.com/alighandour.ag/"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/3ali.ghandour"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/in/alighan/"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>

<script src="index.js" charset="utf-8"></script>
  </body>
</html>