<!DOCTYPE html>
<html lang="en" class="index">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <!-- Box Icons Here -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Welcome! | Home</title>
  </head>

  <body class="index">
    <div class="wrapper">
    <nav class="nav">
      <div class="nav-logo">
        <a href="./index.html">LOGO.</a>
      </div>

      <div class="nav-menu">
        <ul>
          <li><a href="./index.html" class="link active">Home</a></li>
          <li><a href="./blog.html" class="link">Blog</a></li>
          <li><a href="./about.html" class="link">About</a></li>
          <li><a href="./contact.html" class="link">Contact Us</a></li>
        </ul>
      </div>

      <div class="nav-button">
        <button class="btn" id="loginBtn" onclick="login()">Sign in</button>
        <button class="btn" id="registerBtn" onclick="register()">Sign up</button>
      </div>
    </nav>