<%- include ("partials/aboutheader.ejs") %>
    <!--------------------------- About Header --------------------------->
    <!-- About Section -->
    <section class="about-hero">
      <div class="about-hero-container">
        <div class="about-hero-image">
          <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?auto=format&fit=facearea&w=600&h=600" draggable="false" alt="About Us Image" />
        </div>
        <div class="about-hero-content">
          <span class="about-hero-label">About</span>
          <h1 class="about-hero-title">
            Graphic Designer &<br>
            Full-Stack Developer<br>
          </h1>
          <div class="about-hero-scroll">
            <i class='bx bx-chevrons-down'></i> Scroll Down
          </div>
        </div>
      </div>
    </section>

    <section class="about-description">
  <div class="about-description-container">
    <p>
      I'm Ali Ghandour—a graphic designer and full-stack web developer from South Lebanon—currently studying Computer and Communications Engineering (CCE) and creating engaging content.
    </p>
    <p>
      As an AI enthusiast, I fuse data-driven insights with pixel-perfect design to build responsive, scalable applications. Leveraging agile methodologies and cutting-edge frameworks, I engineer robust end-to-end web solutions that tell powerful visual stories.
    </p>
    <p>
      Beyond code and graphics, I craft content that captivates and converts, optimizing user journeys through seamless UX/UI and innovative AI-driven features—always driving engagement and growth.
    </p>
  </div>
</section>
<%- include ("partials/footer.ejs") %>