<%- include ("partials/blogheader.ejs") %>
<!----------------------------Main----------------------------->
<div class="blog-section">
  <h1 class="blog-title">Latest Blog Posts</h1>
  <p class="blog-description">
    Stay updated with the latest trends in technology and gadgets.
  </p>

  <div class="blog-container">
    <div class="blog-post">
      <h2>Blog Post Title</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <a href="#" class="read-more">Read More</a>
    </div>

    <div class="blog-post">
      <h2>Another Blog Post</h2>
      <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.
      </p>
      <a href="#" class="read-more">Read More</a>
    </div>

    <div class="blog-post">
      <h2>Yet Another Post</h2>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.
      </p>
      <a href="#" class="read-more">Read More</a>
    </div>

    <div class="blog-post">
      <h2>Yet Another Post</h2>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.
      </p>
      <a href="#" class="read-more">Read More</a>
    </div>

    <div class="blog-post">
      <h2>Yet Another Post</h2>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.
      </p>
      <a href="#" class="read-more">Read More</a>
    </div>

    <div class="blog-post">
      <h2>Another Blog Post</h2>
      <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.
      </p>
      <a href="#" class="read-more">Read More</a>
    </div>

    <div class="blog-post">
      <h2>Yet Another Post</h2>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.
      </p>
      <a href="#" class="read-more">Read More</a>
    </div>

    <div class="blog-post">
      <h2>Yet Another Post</h2>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.
      </p>
      <a href="#" class="read-more">Read More</a>
    </div>
  </div>
</div>
<!--------------------------- Footer --------------------------->

<%- include ("partials/footer2.ejs") %>
